body {
    margin: 0;
    background-color: #7A4A2E;
    color: rgb(88, 54, 3);
}

header, nav, main, footer {
    width: 900px;
    margin: auto;
    text-align: center;
    background-color: #F5E6CA;
    padding: 15px;
}

table {
    margin: auto;
    text-align: center;
    background-color: #fde1b4;
    padding: 15px;
    border: 5px solid rgb(155, 119, 52);
}

input[type = "text"]{
    padding: 8px;
    border-radius: 30px;
    background-color: #fde1b4;
    border: 2px solid rgb(155, 119, 52);
}

input[type = "email"]{
    padding: 8px;
    border-radius: 30px;
    background-color: #fde1b4;
    border: 2px solid rgb(155, 119, 52);
}

textarea{
    padding: 8px;
    border-radius: 10px;
    background-color: #fde1b4;
    border: 2px solid rgb(155, 119, 52);
}

button{
    padding: 8px;
    border-radius: 10px;
    background-color: #fde1b4;
    border: 2px solid rgb(155, 119, 52);
}



.nav a:hover{
    color: #bd7e20ea;
    background-color: rgb(190, 173, 151);
    cursor: pointer;
}

.ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.box-image{
    width: 250px;
    height: 315px;
    background-image: url(/img/DSCF2693.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid rgb(155, 119, 52);
}

#main-header{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 25px;
}




