.flexbox{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #f7eb80;
    padding: 10px;
    border: 2px solid #f7eb80;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.box{
    color: rgb(0, 0, 0);
    width: 230px;
    height: 90px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}

.box-shadow{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.card:hover{
    width: 225px;
    height: 100px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.4);
    cursor:pointer ;
}

.box p{
    margin: 3px;
    line-height: 1.2;
}

.p{
    text-align: center;
}

.Wei{
    background-color: #B6C4E6;
}

.Shu{
    background-color: #BFE3C0;
}

.Wu{
    background-color: #F2B6B6;
}