/*box*/
.box {
  width: 200px;
  padding: 20px;
  border: 5px solid #0077ff;
  margin: 20px;
  background-color: #cce5ff;
}

/* ตัวอย่างแบบปกติ (content-box) */
.content-box {
  box-sizing: content-box;
}

/* ตัวอย่างแบบ border-box */
.border-box {
  box-sizing: border-box;
  background-color: #ffd8cc;
}

/*border*/
.radius-20{
    margin: 50px;
    width: 120px;
    height: 120px;
    border-radius: 20px;
    background-color: #a0e7e5;
}

.radius-50{
    margin: 50px;
    width: 120px;
    height: 120px;
    border-radius: 50px;
    background-color: #a0e7e5;
}

.radius-top{
    margin: 50px;
    width: 120px;
    height: 120px;
    border-radius: 30px 30px 0 0;
    background-color: #a0e7e5;
}

.circle{
    margin: 50px;
    width: 120px;
    height: 120px;
    background-color: #a0e7e5;
    border-radius: 50%;
}

.box-1{
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
}

.box-2{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.box-3{
    box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.25);
}

.box-4{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.block-example-div{
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #c8e6ff;
}

.inline-block-example-span{
    display: inline;
    padding: 5px;
    background-color: #ffc8c8;
    margin-right: 5px;
}

.inline-block-example-div{
    display: inline-block;
    width: 120px;
    height: 40px;
    background-color: #d2ffd2;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #4caf50;
} 

.flex-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border: 2px solid #ccc;
    height: 150px;
}
.item{
    background: navy;
    color: white;
    font-size: 20px;
    width: 80px;
    text-align: center;
    padding: 10px 0;
}
.stretch .item{
    background: teal;
}

.flex-box-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f0f0f0;
    padding: 15px;
    border: 2px solid #ccc;
    height: 200px;
}
.item-column{
    background: navy;
    color: white;
    text-align: center;
    padding: 10px;
}
.stretch-column .item-columm{
    background: teal;
    height: auto;
}



.grid-container{
    display: grid;

    grid-template-columns: 20% 80%;

    grid-template-rows: 70px 530px 70px;

    gap: 10px;
    padding: 10px;
    background-color: whitesmoke;
    height: 100vh;
    box-sizing: border-box;
}

header{
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: rgb(52,129,0);
    color: wheat; text-align: center; line-height: 70px; font-size: 24px;
}

aside{
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: #0077ff;
    color: white;
    text-align: center; line-height: 530px; font-size: 24px;
}

main{
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: violet;
    color: white;
    text-align: center; line-height: 530px; font-size: 24px;
}

footer{
    grid-row: 3/4;
    grid-column: 1/3;
    background-color: #4caf50;
     color: white;
    text-align: center; line-height: px; font-size: 24px;
}

.grid{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 10px;
    background: #f5f5f5;
    padding: 10px;
}

.item1{
    background: #0077ff;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item2{
    grid-column: 1/3;
}

.item3{
    grid-row: 2/3;
}

.menu{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 10px 20px;
}

.logo{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

ul li a:hover{
    text-decoration: underline;
}